<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <context-param>
    <param-name>debug</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>makeTestUser</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>tempPasswordTimeoutMinutes</param-name>
    <param-value>15</param-value>
  </context-param>
  <context-param>
    <param-name>autoAttendaceCodeTimeOutMinutes</param-name>
    <param-value>120</param-value>
  </context-param>
  <!--    <security-constraint>
      <display-name>Constraint1</display-name>
      <web-resource-collection>
          <web-resource-name>All Pages</web-resource-name>
          <description/>
          <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
          <description>SSL on Everything</description>
          <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
  </security-constraint>-->
  <!--    <security-constraint>
      <display-name>SSL</display-name>
      <web-resource-collection>
          <web-resource-name>SSL on All</web-resource-name>
          <description/>
          <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
          <description/>
          <transport-guarantee>INTEGRAL</transport-guarantee>
      </user-data-constraint>
  </security-constraint>-->
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/POINTS_DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/POINTS_DB_DIGITAL_OCEAN</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/STUDYPOINTS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
